{% extends 'layouts/base_user.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div id="app">
        <p id="user_email_h" hidden>{{ user_email }}</p>

        <h1>This is the History Page</h1>
        <p> User will see all the Images there has uploaded and counted</p>
        <template>
            <el-table
                    :data="tableData"
                    stripe>
                <el-table-column
                        label="Origin"
                >
                    <template slot-scope="scope">
                        <el-image

                                style="width: 90px; height: 90px"
                                :src="scope.row.origin_image_url"/>
                    </template>
                </el-table-column>

                <el-table-column
                        label="Detected"
                >
                    <template slot-scope="scope">
                        <el-image
                                style="width: 90px; height: 90px"
                                :src="scope.row.detect_image_url"/>
                    </template>

                </el-table-column>

                <el-table-column
                        label="Count"
                        prop="counted_number"
                        sortable
                >
                </el-table-column>

                <el-table-column
                        label="Uploaded Date"
                        prop="uploaded_time"
                        sortable
                >
                </el-table-column>

                <el-table-column
                        label="Download">
                    <template slot-scope="scope">
                        <a target="_blank" :href="scope.row.origin_image_url" download="">
                            <el-button type="primary" round>
                                Origin
                            </el-button>
                        </a>
                        <a target="_blank" :href="scope.row.detect_image_url" download="">
                            <el-button type="primary" round>
                                Detected
                            </el-button>
                        </a>
                    </template>
                </el-table-column>
            </el-table>
        </template>

    </div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="/static/assets/js/plugins/chartjs.min.js"></script>
    <script src="/static/assets/js/plugins/Chart.extension.js"></script>

    <script src="/static/assets/js/vue.js"></script>
    <script src="/static/assets/js/axios.min.js"></script>
    <script src="/static/assets/element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="/static/assets/plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="/static/assets/styles/common.css"/>
    <link rel="stylesheet" href="/static/assets/styles/icon/iconfont.css"/>
    <script>
        var ctx = document.getElementById("chart-bars").getContext("2d");

       
        var ctx2 = document.getElementById("chart-line").getContext("2d");

        var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

        gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
        gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
        gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

        var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

        gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
        gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
        gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors
    </script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>

    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    tableData: []
                }
            },
            mounted: function () {
                this.onLoad();
            },
            methods: {

                onLoad() {
                    const user_email_h = document.querySelector("#user_email_h").textContent
                    axios({
                        method: "GET",
                        url: "http://3.1.129.125:8000/api/users/history",
                        params: {
                            user_email_h: user_email_h
                        }
                    }).then(value => {
                        this.tableData = value.data
                        console.log(this.tableData)
                        console.log(this.tableData[0]['uploaded_time'])
                    })
                }
            }
        })
    </script>

{% endblock javascripts %}
